*.xml
*.pyc
.idea/inspectionProfiles/profiles_settings.xml
.idea/Machine-Learning-Poly-U.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
ML Group Project/scripts/__pycache__/main.cpython-37.pyc
ML Group Project/scripts/__pycache__/logAlgo.cpython-37.pyc
ML Group Project/scripts/__pycache__/linearAlgo.cpython-37.pyc
ML Group Project/scripts/__pycache__/kncAlgo.cpython-37.pyc
ML Group Project/scripts/.ipynb_checkpoints/testCase1-checkpoint.ipynb
